configuration {
    display-run: " ";
    display-drun: "  ";
    display-window: "  ";
    drun-display-format: "{name}";
font: "JetBrainsMono NFM 16";
modi: "window,run,drun";
      // show-icons: true;
}
@theme "tokyonight"
